<div class="album grid mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-typography--display-1">{{album.name}}</div>
    {{album.artist}}
  </div>

  <table class="mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__header--sorted-descending">#</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="track in album.tracks" v-on:dblclick="play(track)">
        <td>
          <span>{{track['track #']}}</span>
          <button class="mdl-button mdl-js-button mdl-button--icon" v-on:click="play(track)">
            <i class="material-icons">play_arrow</i>
          </button>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          {{track.name}}
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          {{track['file type']}}
        </td>  
      </tr>
    </tbody>
  </table>
</div>
