.album {
  table {
    tbody {
      tr {
        height: 40px;
        font-size: 14px;
        cursor: pointer;

        td {
          max-height: 40px;
          padding: 0 18px;
          line-height: 41px;
          border-color: rgba(0, 0, 0, 0.06);

          &:first-child {
            width: 75px;

            > *:last-child {
              display: none;
            }
          }
        }

        &:hover {
          td:first-child {
            > *:last-child {
              display: block;
            }

            > *:first-child {
              display: none;
            }
          }
        }
      }
    }
  }
}