@import '../../css/reset';

body {
  height: 100%;
  font-family: Roboto;
  background-color: #fafafa;

  #app,
  #app > div {
    height: 100%;
  }

  header {
    &.mdl-layout__header {
      margin-bottom: 20px;
      background-color: white;
      border-bottom: 1px solid #e0e0e0;
    }
  }

  main {
    &.mdl-layout__content {
      display: block;
    }
  }

  .grid {
    max-width: 1800px;

    &.mdl-grid {
      > * {
        margin: 0 20px 20px 0;
      }
    }
  }

  .card {
    &.mdl-card {
      transition: box-shadow 0.28s cubic-bezier(0.4,0,0.2,1);
      width: 200px;

      &:hover {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);
      }

      .mdl-card__title {
        height: 200px;
        padding: 0;

        img {
          width: 100%;
        }
      }

      .mdl-card__supporting-text {
        width: auto;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}